In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
now = datetime.now()
now

datetime.datetime(2019, 10, 8, 0, 38, 0, 767895)

In [5]:
now.year, now.month, now.day

(2019, 10, 8)

In [7]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [9]:
delta.days

926

In [10]:
delta.seconds

56700

In [16]:
from dateutil.parser import parse

In [22]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [24]:
parse('6/12/2011', dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

In [25]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [28]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [31]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [34]:
ts = pd.Series(np.random.randn(6), index = dates)
ts

2011-01-02   -0.742020
2011-01-05    1.262735
2011-01-07    0.589825
2011-01-08    0.244410
2011-01-10   -0.033008
2011-01-12   -0.290087
dtype: float64

In [35]:
ts + ts[::2]

2011-01-02   -1.484040
2011-01-05         NaN
2011-01-07    1.179649
2011-01-08         NaN
2011-01-10   -0.066016
2011-01-12         NaN
dtype: float64

In [36]:
ts.index.dtype

dtype('<M8[ns]')

In [37]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [39]:
stamp = ts.index[2]
ts[stamp]

0.5898245134878529

In [40]:
ts['1/10/2011']

-0.033008169276371034

In [41]:
ts['20110110']

-0.033008169276371034

In [42]:
longer_ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods=1000))

In [43]:
longer_ts['2001']

2001-01-01   -0.049103
2001-01-02    0.253923
2001-01-03   -1.085794
2001-01-04    2.264545
2001-01-05   -0.370613
2001-01-06   -0.128056
2001-01-07    0.091946
2001-01-08   -0.534219
2001-01-09    0.000686
2001-01-10   -0.479298
2001-01-11    0.978155
2001-01-12   -0.708216
2001-01-13   -0.344304
2001-01-14   -1.632339
2001-01-15   -0.412124
2001-01-16   -1.719592
2001-01-17   -0.063261
2001-01-18    1.135253
2001-01-19   -0.104984
2001-01-20   -1.680163
2001-01-21   -0.075827
2001-01-22    0.009898
2001-01-23    1.753294
2001-01-24    0.655699
2001-01-25    1.040502
2001-01-26    0.201467
2001-01-27   -0.127153
2001-01-28   -1.121889
2001-01-29   -1.946499
2001-01-30   -0.617895
                ...
2001-12-02   -0.246481
2001-12-03   -1.322412
2001-12-04    0.897052
2001-12-05   -0.641085
2001-12-06    1.052318
2001-12-07    0.216059
2001-12-08    1.268876
2001-12-09    0.377652
2001-12-10    0.611714
2001-12-11    0.955485
2001-12-12    0.537475
2001-12-13   -0.128791
2001-12-14    0.310681
2001-12-15    0.901983
2001-12-16   -0.305765
2001-12-17    0.972717
2001-12-18    1.267887
2001-12-19    1.168006
2001-12-20    0.833715
2001-12-21    0.676507
2001-12-22   -0.861464
2001-12-23   -0.266076
2001-12-24   -0.794501
2001-12-25    0.209421
2001-12-26    1.385134
2001-12-27    0.475515
2001-12-28    1.446407
2001-12-29    0.781674
2001-12-30   -0.658392
2001-12-31    0.913105
Freq: D, Length: 365, dtype: float64

In [44]:
longer_ts['2001-05']

2001-05-01    0.614618
2001-05-02   -1.657094
2001-05-03    1.690293
2001-05-04    1.197446
2001-05-05    0.038264
2001-05-06    0.033983
2001-05-07   -1.288224
2001-05-08    0.240747
2001-05-09    1.574517
2001-05-10   -0.782351
2001-05-11    0.730291
2001-05-12   -0.451903
2001-05-13   -0.661003
2001-05-14   -0.228064
2001-05-15    0.339526
2001-05-16   -1.767347
2001-05-17   -1.192141
2001-05-18    0.129404
2001-05-19   -0.096581
2001-05-20    0.045210
2001-05-21   -0.192613
2001-05-22   -2.102132
2001-05-23    1.228452
2001-05-24   -0.500743
2001-05-25   -0.030343
2001-05-26   -0.225578
2001-05-27    1.205007
2001-05-28    0.201478
2001-05-29   -0.851890
2001-05-30   -1.498273
2001-05-31   -1.195640
Freq: D, dtype: float64

In [45]:
ts[datetime(2011, 1, 7)]

0.5898245134878529

In [46]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.589825
2011-01-08    0.244410
2011-01-10   -0.033008
dtype: float64

In [47]:
ts.truncate(after = '1/9/2011')

2011-01-02   -0.742020
2011-01-05    1.262735
2011-01-07    0.589825
2011-01-08    0.244410
dtype: float64

In [ ]:
dates = pd.date_range('1/1/2000', periods = 100)

In [2]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

In [3]:
dup_ts = pd.Series(np.arange(5), index = dates)

In [4]:
dup_ts.index.is_unique

False

In [5]:
dup_ts['1/3/2000'] # 중복 없음

4

In [6]:
dup_ts['1/2/2000'] # w중복 있음

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [7]:
grouped = dup_ts.groupby(level=0) # 단일 단계 인덱싱

In [8]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [9]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

#### 11.3 날짜 범위, 빈도, 이동

In [12]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [15]:
pd.date_range(start = '2012-04-01', periods = 20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [16]:
pd.date_range(end = '2012-06-01', periods = 20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [17]:
pd.date_range('2000-01-01', '2000-12-01', freq = 'BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [18]:
pd.date_range('2012-05-02 12:56:31', periods = 5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [19]:
pd.date_range('2012-05-02 12:56:31', periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range('2000-01-01', '2001-01-03 23:59', freq = '4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               ...
               '2001-01-02 08:00:00', '2001-01-02 12:00:00',
               '2001-01-02 16:00:00', '2001-01-02 20:00:00',
               '2001-01-03 00:00:00', '2001-01-03 04:00:00',
               '2001-01-03 08:00:00', '2001-01-03 12:00:00',
               '2001-01-03 16:00:00', '2001-01-03 20:00:00'],
              dtype='datetime64[ns]', length=2214, freq='4H')

In [25]:
from pandas.tseries.offsets import Hour, Minute

Hour(2) + Minute(30)

In [26]:
pd.date_range('2000-01-01', periods = 10, freq = '1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [30]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq = 'WOM-3FRI')

In [31]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

#### 데이터 쉬프트

In [32]:
ts = pd.Series(np.random.randn(4), index = pd.date_range('1/1/2000', periods = 4, freq = 'M'))

In [33]:
ts

2000-01-31   -1.297830
2000-02-29    0.119488
2000-03-31   -0.139094
2000-04-30   -0.041258
Freq: M, dtype: float64

In [34]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.297830
2000-04-30    0.119488
Freq: M, dtype: float64

In [35]:
ts.shift(-2)

2000-01-31   -0.139094
2000-02-29   -0.041258
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [36]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -1.092067
2000-03-31   -2.164087
2000-04-30   -0.703382
Freq: M, dtype: float64

In [37]:
ts.shift(2, freq = 'M')

2000-03-31   -1.297830
2000-04-30    0.119488
2000-05-31   -0.139094
2000-06-30   -0.041258
Freq: M, dtype: float64

In [38]:
ts.shift(3, freq = 'D')

2000-02-03   -1.297830
2000-03-03    0.119488
2000-04-03   -0.139094
2000-05-03   -0.041258
dtype: float64

In [39]:
ts.shift(3, freq = 'D')

2000-02-03   -1.297830
2000-03-03    0.119488
2000-04-03   -0.139094
2000-05-03   -0.041258
dtype: float64

In [40]:
ts.shift(1, freq = '90T')

2000-01-31 01:30:00   -1.297830
2000-02-29 01:30:00    0.119488
2000-03-31 01:30:00   -0.139094
2000-04-30 01:30:00   -0.041258
Freq: M, dtype: float64

In [41]:
from pandas.tseries.offsets import Day, MonthEnd

In [42]:
now = datetime(2011, 11, 17)

In [43]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [44]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [45]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [47]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [48]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [49]:
ts = pd.Series(np.random.randn(20), index = pd.date_range('1/5/2000', periods = 20, freq = '4d'))

In [50]:
ts

2000-01-05   -0.458432
2000-01-09    0.284545
2000-01-13   -0.759160
2000-01-17    0.319791
2000-01-21   -1.188166
2000-01-25    0.416891
2000-01-29    0.642381
2000-02-02   -0.644984
2000-02-06   -0.542197
2000-02-10    0.384439
2000-02-14   -0.515644
2000-02-18    0.127736
2000-02-22   -0.466497
2000-02-26    0.350116
2000-03-01   -2.381799
2000-03-05    0.631636
2000-03-09    1.080575
2000-03-13   -2.758434
2000-03-17   -2.223992
2000-03-21    1.146415
Freq: 4D, dtype: float64

In [51]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.106021
2000-02-29   -0.186719
2000-03-31   -0.750933
dtype: float64

In [52]:
ts.resample('M').mean()

2000-01-31   -0.106021
2000-02-29   -0.186719
2000-03-31   -0.750933
Freq: M, dtype: float64

In [1]:
import pytz

In [3]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [4]:
tx = pytz.timezone('America/New_York')

In [11]:
rng = pd.date_range('3/9/2012 9:30', periods = 6, freq = 'D')

In [12]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [13]:
print(ts.index.tz)

None

In [14]:
ts_utc = ts.tz_localize('UTC')

In [15]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -1.491980
2012-03-10 04:30:00-05:00    1.763204
2012-03-11 05:30:00-04:00    0.704153
2012-03-12 05:30:00-04:00   -0.641808
2012-03-13 05:30:00-04:00   -0.331876
2012-03-14 05:30:00-04:00   -0.087241
Freq: D, dtype: float64

In [16]:
ts_eastern = ts.tz_localize('America/New_York')

In [17]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [18]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [19]:
stamp_utc = stamp.tz_localize('utc')

In [20]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [21]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz = 'Europe/Moscow')

In [22]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [23]:
#일광 절약 시간 고려

In [25]:
from pandas.tseries.offsets import Hour

In [26]:
stamp = pd.Timestamp('2012-03-12 01:30', tz = 'US/Eastern')

In [27]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [28]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

#### 리샘플링과 빈도 변환

In [29]:
rng = pd.date_range('2000-01-01', periods = 100, freq = 'D')

In [30]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [31]:
ts

2000-01-01   -0.866963
2000-01-02   -2.051548
2000-01-03   -0.164107
2000-01-04    1.028644
2000-01-05   -0.809526
2000-01-06   -0.109848
2000-01-07    1.353249
2000-01-08   -1.570942
2000-01-09    0.350020
2000-01-10   -0.802144
2000-01-11   -0.368242
2000-01-12   -0.946416
2000-01-13    0.691701
2000-01-14    0.322422
2000-01-15   -0.064399
2000-01-16   -2.342635
2000-01-17    1.724890
2000-01-18   -1.763244
2000-01-19   -1.096204
2000-01-20   -0.652827
2000-01-21   -0.216731
2000-01-22    0.805609
2000-01-23    1.025426
2000-01-24    0.519987
2000-01-25   -1.328087
2000-01-26    1.837289
2000-01-27   -0.380080
2000-01-28   -0.693400
2000-01-29   -0.283912
2000-01-30    1.225113
                ...
2000-03-11    0.948287
2000-03-12    1.157507
2000-03-13   -0.040553
2000-03-14    1.024167
2000-03-15   -0.179171
2000-03-16    0.034800
2000-03-17    1.420296
2000-03-18    1.153944
2000-03-19   -1.811872
2000-03-20    0.599179
2000-03-21    0.189280
2000-03-22    1.501365
2000-03-23    0.301807
2000-03-24   -0.326876
2000-03-25   -1.705878
2000-03-26    0.712272
2000-03-27   -0.833197
2000-03-28    0.886439
2000-03-29   -0.810345
2000-03-30   -0.021840
2000-03-31   -0.654128
2000-04-01    0.241593
2000-04-02    1.144981
2000-04-03    0.845733
2000-04-04    1.036932
2000-04-05   -1.609165
2000-04-06   -1.034656
2000-04-07   -1.037849
2000-04-08    1.311619
2000-04-09    0.244811
Freq: D, Length: 100, dtype: float64

In [32]:
ts.resample('M').mean()

2000-01-31   -0.166093
2000-02-29    0.201933
2000-03-31    0.156627
2000-04-30    0.127111
Freq: M, dtype: float64

In [33]:
ts.resample('M', kind = 'period').mean()

2000-01   -0.166093
2000-02    0.201933
2000-03    0.156627
2000-04    0.127111
Freq: M, dtype: float64

In [34]:
rng = pd.date_range('2000-01-01', periods = 12, freq = 'T')

In [35]:
ts = pd.Series(np.arange(12), index = rng)

In [37]:
ts.resample('5min', closed = 'right').sum() #시작값을 그룹의 오른쪽에 포함

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [38]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [41]:
frame = pd.DataFrame(np.random.randn(2,4), index = pd.date_range('1/1/2000', periods = 2, freq = 'W-WED'), columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

In [42]:
df_daily = frame.resample('D').asfreq()

In [43]:
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05 -2.341101  0.478019  1.360555 -0.197766
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.218123  0.948106  0.964485  0.530837

In [44]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05 -2.341101  0.478019  1.360555 -0.197766
2000-01-06 -2.341101  0.478019  1.360555 -0.197766
2000-01-07 -2.341101  0.478019  1.360555 -0.197766
2000-01-08 -2.341101  0.478019  1.360555 -0.197766
2000-01-09 -2.341101  0.478019  1.360555 -0.197766
2000-01-10 -2.341101  0.478019  1.360555 -0.197766
2000-01-11 -2.341101  0.478019  1.360555 -0.197766
2000-01-12  0.218123  0.948106  0.964485  0.530837

In [45]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05 -2.341101  0.478019  1.360555 -0.197766
2000-01-06 -2.341101  0.478019  1.360555 -0.197766
2000-01-07 -2.341101  0.478019  1.360555 -0.197766
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.218123  0.948106  0.964485  0.530837

In [46]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06 -2.341101  0.478019  1.360555 -0.197766
2000-01-13  0.218123  0.948106  0.964485  0.530837

#### 기간 리샘플링

In [47]:
frame = pd.DataFrame(np.random.randn(24,4), index = pd.period_range('1-2000', '12-2001', freq='M'), columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

In [48]:
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01  2.355925  0.263813 -1.531700  0.366849
2000-02 -0.760647 -0.573324  1.350115 -0.460896
2000-03 -1.333730 -0.519453 -0.842292 -0.481222
2000-04 -1.052982  1.410744  0.566198  0.435395
2000-05  0.719375 -0.509980  0.289646  0.370056

In [49]:
annual_frame = frame.resample('A-DEC').mean()