## 3.2 함수

In [2]:
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x + y)
    else:
        return z / (x + y)

In [7]:
my_function(5,6,z=0.7)

0.06363636363636363

In [8]:
my_function(3.14,7,3.5)

35.49

In [9]:
my_function(10,20)

45.0

In [17]:
#입력한 n까지 더하는 함수
def my_function2(n):
    sum = 0
    sequence = [i + 1 for i in range(n)]
    for i in sequence:
        sum = sum + i
    return sum

In [18]:
my_function2(100)

5050

In [32]:
#전역/지역
a = []
def func() :
    for i in range(5):
        a.append(i)
    print(a)
func()

[0, 1, 2, 3, 4]

In [38]:
#여러값 반환하기
def f():
    a = 5
    b = 6
    c = 7
    return a,b,c

a,b,c = f()
a

5

In [37]:
list(f())

[5, 6, 7]

In [39]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a':a, 'b':b, 'c':c}

In [45]:
dic1 = f()
dic2 = dict(dic1)
import pandas as pd

In [51]:
dic2 = dict(dic1)
dic2

{'a': 5, 'b': 6, 'c': 7}

In [79]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [80]:
stats = ['Alabama ', 'Georgia!', 'Georgia', 'georgia', 'Fl0rIda', 'southcarolina##', 'West virginia?']
clean_strings(stats)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'Southcarolina',
 'West Virginia']

In [93]:
def remove_punctuation(value):
    return re.sub('[!#?]', '',value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_string(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [94]:
clean_string(stats, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'Southcarolina',
 'West Virginia']

In [96]:
for x in map(remove_punctuation, stats):
    print(x)

Alabama
Georgia
Georgia
georgia
Fl0rIda
southcarolina
West virginia

In [97]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x*2)

[8, 0, 2, 10, 12]

In [100]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

strings.sort(key = lambda x: len(set(list(x))))

strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### 커링: 일부 인자만 취하기

In [102]:
def add_numbers(x, y):
    return x+y

In [103]:
add_five = lambda y: add_numbers(5,y)

In [104]:
from functools import partial
add_five = partial(add_numbers, 5)

### 제너레이터

In [106]:
some_dict = {'a':1, 'b':2, 'c':3}

for key in some_dict:
    print(key)

a
b
c

In [108]:
dict_iterator = iter(some_dict)
dict_iterator

In [109]:
list(dict_iterator)

['a', 'b', 'c']

In [116]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [129]:
gen = squares()
gen

In [130]:
for x in gen:
    print(x, end = ' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [134]:
gen = (x ** 2 for x in range(100))
gen

In [135]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [136]:
sum(x ** 2 for x in range(100))

328350

In [138]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [141]:
import itertools

first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### 3.2.7 에러와 예외 처리

In [147]:
def attempt_float(x) :
    try:
        return float(x)
    except:
        return x

In [148]:
attempt_float('1.2345')

1.2345

In [149]:
attempt_float('something')

'something'

In [150]:
def attempt_float(x) :
    try:
        return float(x)
    except ValueError:
        return x