## 고급 판다스 12장

In [3]:
import pandas as pd
import numpy as np

### categorical variable

In [5]:
values = pd.Series([0,1,0,0]*2)

In [6]:
dim = pd.Series(['apple', 'orange'])

In [7]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [8]:
fruits = ['apple', 'orange', 'apple', 'apple']*2

In [9]:
N = len(fruits)

In [11]:
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size = N),
                   'weight': np.random.uniform(0, 2, size=N)},
                 columns = ['basket_id', 'fruit', 'count', 'weight'])

In [12]:
df

   basket_id   fruit  count    weight
0          0   apple      6  0.108562
1          1  orange      7  1.205563
2          2   apple      6  1.090906
3          3   apple     10  0.815714
4          4   apple      5  1.852630
5          5  orange      9  1.382374
6          6   apple      3  1.513020
7          7   apple      5  1.919415

In [13]:
fruit_cat = df['fruit'].astype('category')

In [14]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [17]:
c = fruit_cat.values

In [18]:
type(c)

pandas.core.arrays.categorical.Categorical

In [19]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [20]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [21]:
df['fruit'] = df['fruit'].astype('category')

In [22]:
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [24]:
categories = ['foo', 'bar', 'baz']
codes = [0,1,2,0,0,1]

In [26]:
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo, bar, baz]

In [27]:
ordered_cat = pd.Categorical.from_codes(codes, categories, ordered=True)
ordered_cat

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

### Categorical 연산

In [28]:
np.random.seed(12345)
draws = np.random.randn(1000)
draws[:5]

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

In [30]:
bins = pd.qcut(draws, 4)
bins

[(-0.684, -0.0101], (-0.0101, 0.63], (-0.684, -0.0101], (-0.684, -0.0101], (0.63, 3.928], ..., (-0.0101, 0.63], (-0.684, -0.0101], (-2.9499999999999997, -0.684], (-0.0101, 0.63], (0.63, 3.928]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.684] < (-0.684, -0.0101] < (-0.0101, 0.63] < (0.63, 3.928]]

In [32]:
bins = pd.qcut(draws, 4, labels = ['Q1', 'Q2', 'Q3', 'Q4'])
bins

[Q2, Q3, Q2, Q2, Q4, ..., Q3, Q2, Q1, Q3, Q4]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [33]:
bins = pd.Series(bins, name = 'quartile')

In [34]:
results = (pd.Series(draws).groupby(bins).agg(['count', 'min', 'max']).reset_index())

In [35]:
results

  quartile  count       min       max
0       Q1    250 -2.949343 -0.685484
1       Q2    250 -0.683066 -0.010115
2       Q3    250 -0.010032  0.628894
3       Q4    250  0.634238  3.927528

### Categorical 성능 개선

In [36]:
N = 10000000
draws = pd.Series(np.random.randn(N))
labels = pd.Series(['foo', 'bar', 'baz', 'qux']*(N // 4))

In [37]:
categories = labels.astype('category')

In [38]:
labels.memory_usage()

80000080

In [39]:
categories.memory_usage()

10000272

In [40]:
%time _ = labels.astype('category')

Wall time: 1.03 s

### Categorical 메서드

In [41]:
s = pd.Series(['a', 'b', 'c', 'd']*2)

In [42]:
cat_s = s.astype('category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [43]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [46]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [49]:
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]

In [50]:
cat_s3.cat.remove_unused_categories()

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): [a, b]

### 모델링을 위한 더미값 생성

In [51]:
cat_s = pd.Series(['a', 'b', 'c', 'd']*2, dtype='category')

In [52]:
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

## 고급 GroupBy 사용

In [53]:
df = pd.DataFrame({'key' : ['a', 'b', 'c']*4, 'value' : np.arange(12.)})

In [58]:
g = df.groupby('key').value
g

In [56]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [57]:
g.transform(lambda x: x.mean())

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [60]:
g.transform(lambda x: x*2) #이건 굳이 그룹의 의미는 없음

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11    22.0
Name: value, dtype: float64

In [62]:
g.transform(lambda x: x.rank(ascending=False))

0     4.0
1     4.0
2     4.0
3     3.0
4     3.0
5     3.0
6     2.0
7     2.0
8     2.0
9     1.0
10    1.0
11    1.0
Name: value, dtype: float64

In [68]:
def normalize(x):
    return (x - x.mean()) / x.std()

In [65]:
g.transform(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [67]:
normalized = (df['value'] - g.transform('mean')) / g.transform('std')
normalized

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

### 시계열 그룹 리샘플링

In [72]:
N = 15
times = pd.date_range('2017-05-20 00:00', freq = '1min', periods = N)

In [75]:
df = pd.DataFrame({'time': times,
                  'value': np.arange(N)})

In [74]:
df.set_index('time').resample('5min').count()

                     value
time
2017-05-20 00:00:00      5
2017-05-20 00:05:00      5
2017-05-20 00:10:00      5

In [78]:
df2 = pd.DataFrame({'time': times.repeat(3),
                   'key': np.tile(['a', 'b', 'c'], N),
                   'value': np.arange(N*3.)})

In [80]:
df2.head()

                 time key  value
0 2017-05-20 00:00:00   a    0.0
1 2017-05-20 00:00:00   b    1.0
2 2017-05-20 00:00:00   c    2.0
3 2017-05-20 00:01:00   a    3.0
4 2017-05-20 00:01:00   b    4.0

In [82]:
df2.dtypes

time     datetime64[ns]
key              object
value           float64
dtype: object

In [84]:
time_key = pd.TimeGrouper('5min')

C:\Users\clue7\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

In [89]:
resampled = (df2.set_index('time').groupby(['key', time_key]).sum())
#꼭 datetime으로 먼저 index 설정해야함

In [86]:
resampled

                         value
key time
a   2017-05-20 00:00:00   30.0
    2017-05-20 00:05:00  105.0
    2017-05-20 00:10:00  180.0
b   2017-05-20 00:00:00   35.0
    2017-05-20 00:05:00  110.0
    2017-05-20 00:10:00  185.0
c   2017-05-20 00:00:00   40.0
    2017-05-20 00:05:00  115.0
    2017-05-20 00:10:00  190.0

## 메서드 연결 기법

In [ ]:
# 실용 X
df2 = df.copy()
df2['k'] = v

# 실용 O
df2 = df.assign(k=v)

### pipe 메서드

In [ ]:
# 특정 컬럼에서 그룹 평균을 빼기

g = df.groupby(['key1', 'key2'])
df['col1'] = df['col1'] - g.transform('mean')

In [ ]:
# (일반화) 선택된 모든 컬럼에서 그룹 평균 빼기

def group_demean(df, by, cols):
    result = df.copy()
    g = df.groupby(by)
    for c in cols:
        result[c] = df[c] - [c].transform('mean')
    return result

result = df([df.col1 < 0].pipe(group_demeam, ['key1', 'key2'], ['col1']))

### 변경사항